page-thanks {

.image1{

width: 150px;
margin-top: 15px

}

.class5{

    height: 40px;
    
    margin-top: 67px;
   
padding-left: 12px;
    padding-top: 4px;
    background-color: #2ABFDB;


}






}
