// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  myorange: #2ABFDB,
  pikabu:#29C0D8,
  nav:  #2ABFDB,
  payButtonFirst:#00A351,
  payButtonSecond:#3C4652
);

$modal-md-min-width:400px;
$modal-md-width:200px;
$modal-md-height-small:200px;
$modal-md-height-large:300px;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$range-ios-bar-active-background-color:#2ABFDB;
$range-ios-knob-height:10px;
$range-ios-knob-width:10px;
$range-ios-padding-horizontal:8px;
$range-ios-hit-height:10px;

$loading-ios-spinner-color: #ffffff;
$loading-ios-background:#3D3D3D;
$loading-ios-text-color:#ffffff;
$loading-ios-border-radius:10px;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-text-align:center;
$toolbar-order-md:( back-button: 0, menu-toggle-start: 1, buttons-left: 2, buttons-start: 3, content: 4, buttons-end: 5, buttons-right: 6, menu-toggle-end: 7, );
$toolbar-md-button-font-size:1.7rem;
$toolbar-md-title-font-size:1.7rem;
$toolbar-md-title-font-weight:600;
// $toolbar-md-title-text-color:color-contrast($colors-ios, $toolbar-ios-background);
// $toolbar-md-button-color:color-contrast($colors-nav, $toolbar-ios-background, ios);
$toolbar-md-button-border-radius:4px;
$toolbar-md-button-strong-font-weight:600;
$alert-md-border-radius: 13px;
$alert-md-max-width:270px;
$alert-md-head-padding-top:12px;
$alert-md-head-padding-end:24px;
$alert-md-head-padding-bottom:7px;
$alert-md-button-text-align:center;
$alert-md-head-text-align:center;
$alert-md-button-flex: 	1 1 auto;
$alert-md-button-margin: 0;
$alert-md-button-min-width: 50%;
$alert-md-button-min-height: 44px;
$alert-md-button-font-size: 17px;
$alert-md-message-text-color: 	inherit;

// $alert-md-button-text-color: color($colors-md, primary);
$alert-md-button-background-color:transparent;
$alert-md-button-background-color-activated:#e9e9e9;
$alert-md-button-border-style :solid;
$alert-md-button-border-color:#dbdbdf;
$alert-md-button-border-radius:0;
$alert-md-button-main-font-weight:bold;
$alert-md-button-text-transform: none;

// $navbar-md-height:$toolbar-ios-height;
$loading-md-spinner-color: #ffffff;
$loading-md-background:#3D3D3D;
$loading-md-text-color:#ffffff;
$loading-md-border-radius:10px;
$range-md-pin-padding-vertical:10px;
$range-md-bar-active-background-color:#2ABFDB;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
