page-about-us {
	.content-st{
		font-family: Poppins-Light;
	}
	.span-st br{
	 margin-bottom: 10%;
	}
	.maindiv{
   border:1px solid #fff;
   background-color: #E6EAEA;
   border-radius: 4px;
   opacity:0.75;
   margin-top:5px;
  }
}
