page-payment-history {
.content-md hr {
  background-color:#2AC1D8;
}


ion-label {
    display: block;
    flex: 1 1 0;
    font-size: inherit;
    margin: 0;
    overflow: unset;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.class1{

background-color: #464646;
color: #fff;
border-bottom: 1px solid #2D2D2D !important

}
.iconclass{
float:right;
margin-right:2px;
color: #E8512E 

}
ion-icon {
    display: table;
    font-size: 1.2em;
    margin-top: -23px;
}



.amazonline1 {
    border-width: 0;
    box-sizing: content-box;
    height: 1px;
  
    margin-top: -4px;
    width: 98%;
}
.div1{
width:100%;height: 130px;background-color: #efefef;padding: 2px;margin-top: 4px

}
.div2{
width:50%;height: 100%;background-color: #efefef;float:left;border-right: 2px solid #2ac1d8;
}

.divmy{
    margin-left: 2px;margin-top: 14px;color:#000;font-size: 12px
}
.divmy2{
    margin-right:2px ;float:right; margin-top: -28px;color:#000;font-size: 12px
}
.divmy3{

    margin-left: 2px;margin-top: 6px;color:#000;font-size: 12px
}
.divmy4{

margin-left: 2px;margin-top: 5px;color:#000;font-size: 12px

}
.label1{
margin-left: 19px;margin-top: -14px;color:#000;font-size: 12px
}
.label2{
margin-left: 9px;margin-top: -8px;color:#fff;font-size: 12px;color:#000
}
.label3{
margin-left: 9px;margin-top: -12px;color:#fff;font-size: 12px;color:#000
}
.label4{
margin-left: 9px;margin-top: -14px;color:#fff;font-size: 12px;color:#000
}

	.amazoneline
{
	 border-width: 0;
    box-sizing: content-box;
    color: #2ac1d8 !important;
    float: right;
    height: 2px;
   transform: rotate(90deg);
    width: 69%;
     margin-right: -47px;
    margin-top: 57px
}






.amazonline1_arb {
    border-width: 0;
    box-sizing: content-box;
    height: 1px;
  
    margin-top: -4px;
    width: 98%;
}
.div1_arb{
width:100%;height: 130px;background-color: #efefef;padding: 2px;margin-top: 4px

}
.div2_arb{
width:50%;height: 100%;background-color: #efefef;float:left;border-right: 2px solid #2ac1d8;
}

.divmy_arb{
    ma_arbrgin-left: 2px;margin-top: 14px;color:#000;font-size: 12px
}
.divmy2_arb{
    margin-right:2px ;float:left; margin-top: -28px;color:#000;font-size: 12px
}
.divmy3_arb{

    margin-left: 2px;margin-top: 6px;color:#000;font-size: 12px
}
.divmy4_arb{

margin-left: 2px;margin-top: 5px;color:#000;font-size: 12px

}
.label1_arb{
margin-left: 19px;margin-top: -14px;color:#000;font-size: 12px
}
.label2_arb{
margin-left: 9px;margin-top: -8px;color:#fff;font-size: 12px;color:#000
}
.label3_arb{
margin-left: 9px;margin-top: -12px;color:#fff;font-size: 12px;color:#000
}
.label4_arb{
margin-left: 9px;margin-top: -14px;color:#fff;font-size: 12px;color:#000
}

    .amazoneline_arb
{
     border-width: 0;
    box-sizing: content-box;
    color: #2ac1d8 !important;
    float: right;
    height: 2px;
   transform: rotate(90deg);
    width: 69%;
     margin-right: -47px;
    margin-top: 57px
}
}
