<ion-header dir=rtl *ngIf="appProvider.current.currentLanguage=='arb'">
    <ion-navbar color="nav" *ngIf="searchbar=='false'">
       <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="float:left">
            <span class="text-center">{{'mylibrary.title'|translate}}</span>
        </ion-title>
         <ion-buttons end>
          <button ion-button style="width: 44px" (click)="onSearch()">
             <ion-icon name="search" ></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar *ngIf="searchbar=='true'">
        <button ion-button menuToggle >
            <ion-icon name="menu" style="color: #fff"></ion-icon>
        </button>
        <ion-item no-lines no-padding style="background: transparent;">
            <ion-input  [(ngModel)]="myInput"  (input)="onSearch()" placeholder="{{'message.search'|translate}}" class="input-st" ></ion-input>
            <ion-icon name="search"  (click)="onSearch()"  item-left class="input-search-icon"></ion-icon>
        </ion-item>
    </ion-navbar>
</ion-header>



<ion-content dir=rtl *ngIf="appProvider.current.currentLanguage=='arb'" style="background-color:#fff" (click)="onContent()">
    <ion-list no-lines *ngIf="booklist">
        <ion-item class="item-st" *ngFor="let data of booklist;let i = index ">
            <ion-thumbnail item-left class="thumbnail-st" (click)="onBookClick(data)">
                <img src="http://maktbti.com/webroot/images/books/{{onPathGet(data.image)}}">
            </ion-thumbnail>
            <h2 *ngIf="appProvider.current.currentLanguage=='arb'">{{data.book_name_arabic}}</h2>
    
            <p *ngIf="appProvider.current.currentLanguage=='arb' && data.author">{{'mylibrary.by'|translate}}:<span style="text-decoration:underline;color:#2ABFDB ">{{data.author.author_name_arabic}}</span></p>
            <div class="div-st" (click)="onBookClick(data)">
                <ion-icon  style="color:white;margin-right:15px"></ion-icon>
              {{'mylibrary.description'|translate}}
            </div>
            <ion-icon name= "ios-trash-outline" class="trash-icon-arabic" (click)="onRemove(data)"></ion-icon>
            <ion-icon name="play" (click)="onPlay(data.audio_sample,i)" class="play-icon-arabic" *ngIf="playButton=='true' &&  iconIndex!=i" ></ion-icon>
              <ion-icon name="play" (click)="onPlay(data.audio_sample,i)" class="play-icon-arabic" *ngIf="playbuttonIndex=='true' &&  iconIndex==i" ></ion-icon>
            <ion-icon name="pause" (click)="onPause(i)" class="play-icon-arabic" *ngIf="playbuttonIndex=='false' && iconIndex==i" ></ion-icon>
             <div class="star-div" style="" *ngIf="data.average_rating">
                <ion-icon *ngIf ="data.average_rating>=1" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=2" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=3" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=4" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=5" name="star"></ion-icon>
            </div>
            <div class="star-div" style="" *ngIf="!data.average_rating">
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
            </div>
        </ion-item>

        <div *ngIf="booklist.length==0"> 
            <div class="outer-div">
                <div class="middle-div">
                    <div class="inner-div">
                        <p class="span-text-st"> {{'message.nothingToShow' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-list>
</ion-content>

<ion-header *ngIf="appProvider.current.currentLanguage=='en'">
    <ion-navbar color="nav" *ngIf="searchbar=='false'">
       <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="float:left">
            <span class="text-center">{{'mylibrary.title'|translate}}</span>
        </ion-title>
        <span class="icon-st" (click)="onSearch()">
            <ion-icon name="search" ></ion-icon>
        </span>
    </ion-navbar>
   <ion-navbar *ngIf="searchbar=='true'">
        <button ion-button menuToggle >
            <ion-icon name="menu" style="color: #fff"></ion-icon>
        </button>
        <ion-item no-lines no-padding style="background: transparent;">
            <ion-input  [(ngModel)]="myInput"  (input)="onSearch()" placeholder="{{'message.search'|translate}}" class="input-st" ></ion-input>
            <ion-icon name="search"  (click)="onSearch()"  item-left class="input-search-icon"></ion-icon>
        </ion-item>
    </ion-navbar>
</ion-header>


<ion-content style="background-color:#fff" (click)="onContent()" *ngIf="appProvider.current.currentLanguage=='en'">
    <ion-list no-lines *ngIf="booklist">
        <ion-item class="item-st" *ngFor="let data of booklist;let i = index ">
            <ion-thumbnail item-left class="thumbnail-st" (click)="onBookClick(data)">
                <img src="http://maktbti.com/webroot/images/books/{{onPathGet(data.image)}}">
            </ion-thumbnail>
            <h2 *ngIf="appProvider.current.currentLanguage=='en'">{{data.book_name}}</h2>
            <p *ngIf="appProvider.current.currentLanguage=='en' && data.author">{{'mylibrary.by'|translate}}:<span style="text-decoration:underline;color:#2ABFDB ">{{data.author.author_name}}</span></p>
            <div class="div-st" (click)="onBookClick(data)">
                <ion-icon  style="color:white;margin-right:15px"></ion-icon>
              {{'mylibrary.description'|translate}}
            </div>
            <ion-icon name= "ios-trash-outline" class="trash-icon" (click)="onRemove(data)"></ion-icon>
            <ion-icon name="play" (click)="onPlay(data.audio_sample,i)" class="play-icon" *ngIf="playButton=='true' &&  iconIndex!=i" ></ion-icon>
              <ion-icon name="play" (click)="onPlay(data.audio_sample,i)" class="play-icon" *ngIf="playbuttonIndex=='true' &&  iconIndex==i" ></ion-icon>
            <ion-icon name="pause" (click)="onPause(i)" class="play-icon" *ngIf="playbuttonIndex=='false' && iconIndex==i" ></ion-icon>
             <div class="star-div" style="" *ngIf="data.average_rating">
                <ion-icon *ngIf ="data.average_rating>=1" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=2" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=3" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=4" name="star"></ion-icon>
                <ion-icon *ngIf ="data.average_rating>=5" name="star"></ion-icon>
            </div>
            <div class="star-div" style="" *ngIf="!data.average_rating">
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
                <ion-icon  name="star-outline"></ion-icon>
            </div>
        </ion-item>

        <div *ngIf="booklist.length==0"> 
            <div class="outer-div">
                <div class="middle-div">
                    <div class="inner-div">
                        <p class="span-text-st">{{'message.nothingToShow' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-list>
</ion-content>

