
<ion-header dir=rtl *ngIf="appProvider.current.currentLanguage=='arb'">

  <ion-navbar color="nav">
 <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title class="text-center font-st">{{'my-account.my_account'|translate}}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content dir=rtl *ngIf="appProvider.current.currentLanguage=='arb'" >
<div  class="profile-pic-st"> 
		<img src="{{userImage}}" class="profile-pic-st" *ngIf="userImage">
		<img src="img/slide4.jpg" class="profile-pic-st" *ngIf="!userImage">

	<div class="user-name-st" *ngIf="userDetails">
		<span class="font-st">
			{{userDetails.first_name}} {{userDetails.last_name}}
		</span>
		<div class="spacer" style="height: 2px"></div>
		<span class="font-st">
			{{userDetails.email}}
		</span>
	</div>
</div>
<ion-grid class="font-st" >
	<ion-row style="text-align:center">
		<ion-col width:50>
			<div  (click)="onPaymentHistory()">
				
			<img src="img/card.png" >
			<p>{{'my-account.payment_history'|translate}}</p>
			</div>
		</ion-col>
		<ion-col width:50>
			<div (click)="onListentiming()" >	
			<img src="img/lt.png">
			<p>{{'my-account.listening_time'|translate}}</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row style="text-align:center">
		<ion-col width:50>
			<div (click)="onSubscriptionPlans()">
				<img src="img/plan.png">
				<p>{{'my-account.subscription_plans'|translate}}</p>
			</div>
		</ion-col>
		<ion-col width:50>
			<div (click)="onFeedback()">				
			<img src="img/chtaa.png">
			<p>{{'my-account.send_eedback'|translate}}</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row style="text-align:center">
		<ion-col width:50>
			<div (click)="onAccountSetting()">
				<img src="img/settings.png">
				<p>{{'my-account.account_settings'|translate}}</p>
			</div>
		</ion-col>
		<ion-col width:50>
			<div (click)="onSubscribedBook()">				
			<img src="img/script.png">
			<p>{{'my-account.myPurchagedBook'|translate}}</p>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
	


</ion-content>



<ion-header  *ngIf="appProvider.current.currentLanguage=='en'">

  <ion-navbar color="nav">
 <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title class="text-center font-st">{{'my-account.my_account'|translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content  *ngIf="appProvider.current.currentLanguage=='en'" >
<div  class="profile-pic-st"> 
		<img src="{{userImage}}" class="profile-pic-st" *ngIf="userImage">
		<img src="img/slide4.jpg" class="profile-pic-st" *ngIf="!userImage">
	<div class="user-name-st" *ngIf="userDetails">
		<span class="font-st" >
			{{userDetails.first_name}} {{userDetails.last_name}}
		</span>
		<div class="spacer" style="height: 2px"></div>
		<span class="font-st">
			{{userDetails.email}}
		</span>
	</div>
</div>
<ion-grid class="font-st" >
	<ion-row style="text-align:center">
		<ion-col width:50>
			<div  (click)="onPaymentHistory()">
				
			<img src="img/card.png" >
			<p>{{'my-account.payment_history'|translate}}</p>
			</div>
		</ion-col>
		<ion-col width:50>
			<div (click)="onListentiming()" >	
			<img src="img/lt.png">
			<p>{{'my-account.listening_time'|translate}}</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row style="text-align:center">
		<ion-col width:50>
			<div (click)="onSubscriptionPlans()">
				<img src="img/plan.png">
				<p>{{'my-account.subscription_plans'|translate}}</p>
			</div>
		</ion-col>
		<ion-col width:50>
			<div (click)="onFeedback()">				
			<img src="img/chtaa.png">
			<p>{{'my-account.send_eedback'|translate}}</p>
			</div>
		</ion-col>
	</ion-row>
	<ion-row style="text-align:center">
		<ion-col width:50>
			<div (click)="onAccountSetting()">
				<img src="img/settings.png">
				<p>{{'my-account.account_settings'|translate}}</p>
			</div>
		</ion-col>
		<ion-col width:50>
			<div (click)="onSubscribedBook()">				
				<img src="img/script.png">
				<p>{{'my-account.myPurchagedBook'|translate}}</p>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>
